<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message from Wiz Events</title>
</head>
<body>
  <main role="main" class="container">
    <%= @inner_content %>
  </main>
</body>
</html>
