<%= form_for @conn, @action, fn f -> %>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-primary">Authorize</button>
<% end %>
